<div class="card mt-3" id="cardDashboard" style="display: none">
    <div class="card-header">DETAIL ACCOUNT INFO</div>
    <div class="card-body" id="bodyDashboard">
        
    </div>
    <div class="card-footer">
        <button type="button" id="logout" class="btn btn-primary btn-block">Logout</button>
    </div>
</div>