<div class="card mt-3" id="cardLogin">
    <div class="card-body">
        <form action="/api/v1/auth/login" method="POST" id="formLogin">
            <input type="hidden" name="loginEmail" id="loginEmail">
            <input type="hidden" name="loginPassword" id="loginPassword">
            <button type="submit" class="btn btn-block btn-primary">Login</button>
        </form>
    </div>
</div>